body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0.5em;
}

label, input, button {
  font-size: 1em;
  margin: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 50px;
  overflow: hidden;
}

/* For rotated header text */
.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

