body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ccffcc;  /* 薄い黄緑 */
}

h1 {
  font-size: 1.5em;
  margin: 0.5em;
}

label, input, button {
  font-size: 1em;
  margin: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid black;
  padding: 2px;  /* サイズを小さく */
  text-align: center;
  width: 30px;  /* サイズを小さく */
  overflow: hidden;
}

/* For rotated header text */
.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* Added styles for cell background colors */
.cell-o {
  background-color: #b3e0ff; /* 薄い青 */
}

.cell-triangle {
  background-color: #ffff99; /* 薄い黄 */
}

.cell-x {
  background-color: #ff9999; /* 薄い赤 */
}
.cell-o {
  background-color: blue; /* 青 */
}

.cell-triangle {
  background-color: yellow; /* 黄 */
}

.cell-x {
  background-color: red; /* 赤 */
}

#commonTimes {
  position: absolute;
  top: 0;
  right: 0;
}



