body {
  background-color: #ccffcc;
  font-family: Arial, sans-serif;
}

.date {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  min-width: 50px;
  max-width: 100px;
  width: 5vw;
  min-height: 50px;
  max-height: 100px;
  height: 5vh;
}

th {
  background-color: #f2f2f2;
}

.cell-o {
  background-color: rgba(0, 0, 255, 0.3);
}

.cell-triangle {
  background-color: rgba(255, 255, 0, 0.3);
}

.cell-x {
  background-color: rgba(255, 0, 0, 0.3);
}

.rotate {
  transform: rotate(-90deg);
  line-height: 5vh;
  min-width: 50px;
  max-width: 100px;
  width: 5vw;
  min-height: 50px;
  max-height: 100px;
  height: 5vh;
}
